<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Console output -->
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{MM-dd HH:mm:ss} %m  (%F:%L) \n" />
        </layout>
    </appender>

    <!-- 应用程序输出文件设置 -->
    <appender name="debugLog" class="com.jialian.common.custom.DailyRollingFileAppenderCustom">
        <param name="File" value="${catalina.base}/logs/jialian-platform/jialian-platform.log" />
        <param name="DatePattern" value="'daily.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] (%c:%L) - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="info" />
        </filter>
    </appender>

    <!-- 应用程序输出文件设置 -->
    <appender name="warnLog" class="com.jialian.common.custom.DailyRollingFileAppenderCustom">
        <param name="File" value="${catalina.base}/logs/jialian-platform/jialian-platform-warn.log" />
        <param name="DatePattern" value="'daily.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] (%c:%L) - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="warn" />
            <param name="levelMax" value="warn" />            
        </filter>
    </appender>
    
    <appender name="errorLog" class="com.jialian.common.custom.DailyRollingFileAppenderCustom">
        <param name="File" value="${catalina.base}/logs/jialian-platform/jialian-platform-error.log" />
        <param name="DatePattern" value="'daily.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] (%c:%L) - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="error" />
        </filter>
    </appender>
	<appender name="DB" class="org.apache.log4j.jdbc.JDBCAppender">
		<param name="url" value="jdbc:mysql://182.254.152.39:3306/ejia" />
		<param name="driver" value="com.mysql.jdbc.Driver" />
		<param name="user" value="root" />
		<param name="password" value="Wsad123456." />
		<param name="sql" value="INSERT INTO LOGS VALUES('%x', '%d','%C','%p','%m')" />
		<layout class="org.apache.log4j.PatternLayout"> </layout>
	</appender>
    <!-- 定义mybatis日志输出级别 -->
    <category name="java.sql">
        <priority value="info" />
    </category>

    <!-- 定义 应用程序日志输出级别 -->
    <category name="com.jialian">
        <priority value="info" />
        <appender-ref ref="STDOUT" />
    </category>
    <category name="org.apache.velocity">
        <priority value="error" />
        <appender-ref ref="STDOUT" />
    </category>
    <root>
        <priority value="info" />
        <appender-ref ref="debugLog" />
        <appender-ref ref="errorLog" />
        <appender-ref ref="warnLog" />
        <!-- <appender-ref ref="DB"/> -->
    </root>
</log4j:configuration>