<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jialian.core.persistence.reader.HouseSurveyReaderMapper" >
  <resultMap id="BaseResultMap" type="com.jialian.api.domain.entity.HouseSurvey" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sub_bouse_info_id" property="subBouseInfoId" jdbcType="BIGINT" />
    <result column="house_structure_category_id" property="houseStructureCategoryId" jdbcType="BIGINT" />
    <result column="survey_name" property="surveyName" jdbcType="VARCHAR" />
    <result column="survey_value" property="surveyValue" jdbcType="DOUBLE" />
    <result column="survey_unit" property="surveyUnit" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sub_bouse_info_id, house_structure_category_id, survey_name, survey_value, survey_unit, 
    create_time, update_time, status
  </sql>
  <select id="selectByWhere" resultMap="BaseResultMap" parameterType="com.jialian.api.domain.entity.Where" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from house_survey
    <if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.reader.CommonReaderMapper.Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from house_survey
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="countByWhere" parameterType="com.jialian.api.domain.entity.Where" resultType="java.lang.Integer" >
    select count(*) from house_survey
    <if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.reader.CommonReaderMapper.Example_Where_Clause" />
    </if>
  </select>
</mapper>