<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jialian.core.persistence.reader.HouseStructureCategoryReaderMapper" >
  <resultMap id="BaseResultMap" type="com.jialian.api.domain.entity.HouseStructureCategory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="house_structure_id" property="houseStructureId" jdbcType="BIGINT" />
    <result column="resource_info_id" property="resourceInfoId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="BaseWithHouStruResultMap" type="com.jialian.api.domain.entity.HouseStructureCategory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="house_structure_id" property="houseStructureId" jdbcType="BIGINT" />
    <result column="resource_info_id" property="resourceInfoId" jdbcType="BIGINT" />
    <association property="houseStructureInfo" column="house_structure_id" select="com.jialian.core.persistence.reader.HouseStructureInfoReaderMapper.selectByPrimaryKey"></association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type, create_time, status, house_structure_id, resource_info_id
  </sql>
  <select id="selectByWhere" resultMap="BaseResultMap" parameterType="com.jialian.api.domain.entity.Where" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from house_structure_category
    <if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.reader.CommonReaderMapper.Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from house_structure_category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectWithHouseStruByPrimaryKey" resultMap="BaseWithHouStruResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from house_structure_category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="countByWhere" parameterType="com.jialian.api.domain.entity.Where" resultType="java.lang.Integer" >
    select count(*) from house_structure_category
    <if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.reader.CommonReaderMapper.Example_Where_Clause" />
    </if>
  </select>
</mapper>