<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jialian.core.persistence.reader.HouseInfoReaderMapper" >
  <resultMap id="BaseResultMap" type="com.jialian.api.domain.entity.HouseInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="house_type" property="houseType" jdbcType="SMALLINT" />
    <result column="house_type_name" property="houseTypeName" jdbcType="VARCHAR" />
    <result column="house_color" property="houseColor" jdbcType="VARCHAR"/>
    <result column="address_id" property="addressId" jdbcType="BIGINT" />
    <result column="building_type" property="buildingType" jdbcType="SMALLINT" />
    <result column="building_type_name" property="buildingTypeName" jdbcType="VARCHAR" />
    <result column="house_total_area" property="houseTotalArea" jdbcType="DOUBLE" />
    <result column="house_total_area_unit" property="houseTotalAreaUnit" jdbcType="VARCHAR" />
    <result column="house_type_no" property="houseTypeNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="house_status" property="houseStatus" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, house_type, house_type_name, house_color, address_id, building_type, building_type_name, house_total_area, 
    house_total_area_unit, house_type_no, create_time, update_time, house_status, status, 
    remark
  </sql>
  <select id="selectByWhere" resultMap="BaseResultMap" parameterType="com.jialian.api.domain.entity.Where" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from house_info
    <if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.reader.CommonReaderMapper.Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from house_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="countByWhere" parameterType="com.jialian.api.domain.entity.Where" resultType="java.lang.Integer" >
    select count(*) from house_info
    <if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.reader.CommonReaderMapper.Example_Where_Clause" />
    </if>
  </select>
</mapper>