<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jialian.core.persistence.reader.OperateLogReaderMapper" >
  <resultMap id="BaseResultMap" type="com.jialian.api.domain.entity.OperateLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="operate_name" property="operateName" jdbcType="VARCHAR" />
    <result column="operate_id" property="operateId" jdbcType="BIGINT" />
    <result column="operate_type" property="operateType" jdbcType="SMALLINT" />
    <result column="from_type" property="fromType" jdbcType="SMALLINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="operate_content" property="operateContent" jdbcType="VARCHAR" />
    <result column="operate_module" property="operateModule" jdbcType="VARCHAR" />
    <result column="table" property="table" jdbcType="VARCHAR" />
    <result column="table_operate_type" property="tableOperateType" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, operate_name, operate_id, operate_type, from_type, type, ip, operate_content, 
    operate_module, 'table', table_operate_type, create_time, remark
  </sql>
  <select id="selectByWhere" resultMap="BaseResultMap" parameterType="com.jialian.api.domain.entity.Where" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from operate_log
    <if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.reader.CommonReaderMapper.Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null">
   		limit ${limit}, ${offset}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from operate_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="countByWhere" parameterType="com.jialian.api.domain.entity.Where" resultType="java.lang.Integer" >
    select count(*) from operate_log
    <if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.reader.CommonReaderMapper.Example_Where_Clause" />
    </if>
  </select>
</mapper>