<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jialian.core.persistence.reader.SignedOrderReaderMapper" >
  <resultMap id="BaseResultMap" type="com.jialian.api.domain.entity.SignedOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="employee_id" property="employeeId" jdbcType="BIGINT" />
    <result column="store_id" property="storeId" jdbcType="BIGINT" />
    <result column="semi_decoration_order_id" property="semiDecorationOrderId" jdbcType="BIGINT" />
    <result column="material_order_id" property="materialOrderId" jdbcType="BIGINT" />
    <result column="combo_id" property="comboId" jdbcType="BIGINT" />
    <result column="total_amt" property="totalAmt" jdbcType="DOUBLE" />
    <result column="discount_amt" property="discountAmt" jdbcType="DOUBLE" />
    <result column="order_amt" property="orderAmt" jdbcType="DOUBLE" />
    <result column="prepay_amt" property="prepayAmt" jdbcType="DOUBLE" />
    <result column="payed_amt" property="payedAmt" jdbcType="DOUBLE" />
    <result column="order_status" property="orderStatus" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="confirm_time" property="confirmTime" jdbcType="TIMESTAMP" />
    <result column="complete_time" property="completeTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <association property="combo" column="combo_id" select="com.jialian.core.persistence.reader.ComboReaderMapper.selectSimpleByPrimaryKey"></association>
  </resultMap>
  <resultMap id="DecOrderListResultMap" type="com.jialian.api.domain.vo.DecorationOrderVO">
  	<id column="id" property="id" jdbcType="BIGINT" />
  	<result column="orderNo" property="orderNo" jdbcType="VARCHAR" />
  	<result column="userName" property="userName" jdbcType="VARCHAR" />
  	<result column="telphone" property="telphone" jdbcType="VARCHAR" />
  	<result column="comboName" property="comboName" jdbcType="VARCHAR" />
  	<result column="orderTime" property="orderTime" jdbcType="TIMESTAMP" />
  	<result column="status" property="status" jdbcType="SMALLINT" />
  	<result column="employee" property="employee" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="DecOrderDetailResultMap" type="com.jialian.api.domain.vo.DecOrderDetailVO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="employee_id" property="employeeId" jdbcType="BIGINT" />
    <result column="store_id" property="storeId" jdbcType="BIGINT" />
    <result column="semi_decoration_order_id" property="semiDecorationOrderId" jdbcType="BIGINT" />
    <result column="material_order_id" property="materialOrderId" jdbcType="BIGINT" />
    <result column="combo_id" property="comboId" jdbcType="BIGINT" />
    <result column="total_amt" property="totalAmt" jdbcType="DOUBLE" />
    <result column="discount_amt" property="discountAmt" jdbcType="DOUBLE" />
    <result column="order_amt" property="orderAmt" jdbcType="DOUBLE" />
    <result column="prepay_amt" property="prepayAmt" jdbcType="DOUBLE" />
    <result column="payed_amt" property="payedAmt" jdbcType="DOUBLE" />
    <result column="order_status" property="orderStatus" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="confirm_time" property="confirmTime" jdbcType="TIMESTAMP" />
    <result column="complete_time" property="completeTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <association property="user" column="user_id" select="com.jialian.core.persistence.reader.UserReaderMapper.selectByPrimaryKey"></association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, user_id, employee_id, store_id, semi_decoration_order_id, material_order_id, combo_id,
    total_amt, discount_amt, order_amt, prepay_amt, payed_amt, order_status, status, 
    confirm_time, complete_time, create_time, update_time, remark
  </sql>
  <select id="selectByWhere" resultMap="BaseResultMap" parameterType="com.jialian.api.domain.entity.Where" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from signed_order
    <if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.reader.CommonReaderMapper.Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null">
   		limit ${limit}, ${offset}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from signed_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectWithUserByPrimaryKey" resultMap="DecOrderDetailResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from signed_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="countByWhere" parameterType="com.jialian.api.domain.entity.Where" resultType="java.lang.Integer" >
    select count(*) from signed_order
    <if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.reader.CommonReaderMapper.Example_Where_Clause" />
    </if>
  </select>
  <select id="countSignedOrderByWhere" parameterType="com.jialian.api.domain.entity.Where" resultType="java.lang.Integer" >
    SELECT count(*)
	FROM signed_order so 
	LEFT JOIN admin_user au ON so.employee_id = au.id
	LEFT JOIN user u ON so.user_id = u.id
	LEFT JOIN combo ON so.combo_id = combo.id
    <if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.reader.CommonReaderMapper.Example_Where_Clause" />
    </if>
  </select>
  <select id="selectSignedOrderList" resultMap="DecOrderListResultMap" parameterType="com.jialian.api.domain.entity.Where">
  	SELECT so.id AS 'id', so.order_no AS 'orderNo', u.user_name AS 'userName', 
	u.telephone AS 'telphone', combo.`name` AS 'comboName' ,
	so.create_time AS 'orderTime', so.order_status AS 'status',
	au.`name` AS 'employee'
	FROM signed_order so 
	LEFT JOIN admin_user au ON so.employee_id = au.id
	LEFT JOIN user u ON so.user_id = u.id
	LEFT JOIN combo ON so.combo_id = combo.id
	<if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.reader.CommonReaderMapper.Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
		order by ${orderByClause}
    </if>
    <if test="limit != null">
		limit ${limit}, ${offset}
    </if>
  </select>
</mapper>