<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jialian.core.persistence.writer.AdminPermissionWriterMapper" >
 
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from admin_permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByWhere" parameterType="com.jialian.api.domain.entity.Where" >
    delete from admin_permission
    <if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.writer.CommonWriterMapper.Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jialian.api.domain.entity.AdminPermission" >
    insert into admin_permission (id, permission_name, permission_url, 
      parent_id, permission_order, permission_type, 
      create_time, update_time, permission_status, 
      status, remark)
    values (#{id,jdbcType=BIGINT}, #{permissionName,jdbcType=VARCHAR}, #{permissionUrl,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=BIGINT}, #{permissionOrder,jdbcType=INTEGER}, #{permissionType,jdbcType=SMALLINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{permissionStatus,jdbcType=SMALLINT}, 
      #{status,jdbcType=SMALLINT}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jialian.api.domain.entity.AdminPermission" >
    insert into admin_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="permissionName != null" >
        permission_name,
      </if>
      <if test="permissionUrl != null" >
        permission_url,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="permissionOrder != null" >
        permission_order,
      </if>
      <if test="permissionType != null" >
        permission_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="permissionStatus != null" >
        permission_status,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="permissionName != null" >
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionUrl != null" >
        #{permissionUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="permissionOrder != null" >
        #{permissionOrder,jdbcType=INTEGER},
      </if>
      <if test="permissionType != null" >
        #{permissionType,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="permissionStatus != null" >
        #{permissionStatus,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByWhereSelective" parameterType="map" >
    update admin_permission
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.permissionName != null" >
        permission_name = #{record.permissionName,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionUrl != null" >
        permission_url = #{record.permissionUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.permissionOrder != null" >
        permission_order = #{record.permissionOrder,jdbcType=INTEGER},
      </if>
      <if test="record.permissionType != null" >
        permission_type = #{record.permissionType,jdbcType=SMALLINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.permissionStatus != null" >
        permission_status = #{record.permissionStatus,jdbcType=SMALLINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=SMALLINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.writer.CommonWriterMapper.Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByWhere" parameterType="map" >
    update admin_permission
    set id = #{record.id,jdbcType=BIGINT},
      permission_name = #{record.permissionName,jdbcType=VARCHAR},
      permission_url = #{record.permissionUrl,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=BIGINT},
      permission_order = #{record.permissionOrder,jdbcType=INTEGER},
      permission_type = #{record.permissionType,jdbcType=SMALLINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      permission_status = #{record.permissionStatus,jdbcType=SMALLINT},
      status = #{record.status,jdbcType=SMALLINT},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.writer.CommonWriterMapper.Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jialian.api.domain.entity.AdminPermission" >
    update admin_permission
    <set >
      <if test="permissionName != null" >
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionUrl != null" >
        permission_url = #{permissionUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="permissionOrder != null" >
        permission_order = #{permissionOrder,jdbcType=INTEGER},
      </if>
      <if test="permissionType != null" >
        permission_type = #{permissionType,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="permissionStatus != null" >
        permission_status = #{permissionStatus,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jialian.api.domain.entity.AdminPermission" >
    update admin_permission
    set permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_url = #{permissionUrl,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      permission_order = #{permissionOrder,jdbcType=INTEGER},
      permission_type = #{permissionType,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      permission_status = #{permissionStatus,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>