<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jialian.core.persistence.writer.ModelHouseWriterMapper" >
 
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from model_house
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByWhere" parameterType="com.jialian.api.domain.entity.Where" >
    delete from model_house
    <if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.writer.CommonWriterMapper.Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jialian.api.domain.entity.ModelHouse" >
    insert into model_house (id, house_name, address, 
      house_number, telphone, house_status, 
      creat_time, update_time, status, 
      remark,model_num)
    values (#{id,jdbcType=BIGINT}, #{houseName,jdbcType=VARCHAR}, #{address,jdbcType=BIGINT}, 
      #{houseNumber,jdbcType=SMALLINT}, #{telphone,jdbcType=VARCHAR}, #{houseStatus,jdbcType=SMALLINT}, 
      #{creatTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, 
      #{remark,jdbcType=VARCHAR}, #{modelNum, jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.jialian.api.domain.entity.ModelHouse" >
    insert into model_house
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="houseName != null" >
        house_name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="houseNumber != null" >
        house_number,
      </if>
      <if test="telphone != null" >
        telphone,
      </if>
      <if test="houseStatus != null" >
        house_status,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
       <if test="modelNum != null" >
        model_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="houseName != null" >
        #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=BIGINT},
      </if>
      <if test="houseNumber != null" >
        #{houseNumber,jdbcType=SMALLINT},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="houseStatus != null" >
        #{houseStatus,jdbcType=SMALLINT},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="modelNum != null" >
        #{modelNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByWhereSelective" parameterType="map" >
    update model_house
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.houseName != null" >
        house_name = #{record.houseName,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=BIGINT},
      </if>
      <if test="record.houseNumber != null" >
        house_number = #{record.houseNumber,jdbcType=SMALLINT},
      </if>
      <if test="record.telphone != null" >
        telphone = #{record.telphone,jdbcType=VARCHAR},
      </if>
      <if test="record.houseStatus != null" >
        house_status = #{record.houseStatus,jdbcType=SMALLINT},
      </if>
      <if test="record.creatTime != null" >
        creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=SMALLINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.modelNum != null" >
        model_num = #{record.modelNum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.writer.CommonWriterMapper.Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByWhere" parameterType="map" >
    update model_house
    set id = #{record.id,jdbcType=BIGINT},
      house_name = #{record.houseName,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=BIGINT},
      house_number = #{record.houseNumber,jdbcType=SMALLINT},
      telphone = #{record.telphone,jdbcType=VARCHAR},
      house_status = #{record.houseStatus,jdbcType=SMALLINT},
      creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=SMALLINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      model_num = #{record.modelNum,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="com.jialian.core.persistence.writer.CommonWriterMapper.Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jialian.api.domain.entity.ModelHouse" >
    update model_house
    <set >
      <if test="houseName != null" >
        house_name = #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=BIGINT},
      </if>
      <if test="houseNumber != null" >
        house_number = #{houseNumber,jdbcType=SMALLINT},
      </if>
      <if test="telphone != null" >
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="houseStatus != null" >
        house_status = #{houseStatus,jdbcType=SMALLINT},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="modelNum != null" >
        model_num = #{modelNum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jialian.api.domain.entity.ModelHouse" >
    update model_house
    set house_name = #{houseName,jdbcType=VARCHAR},
      address = #{address,jdbcType=BIGINT},
      house_number = #{houseNumber,jdbcType=SMALLINT},
      telphone = #{telphone,jdbcType=VARCHAR},
      house_status = #{houseStatus,jdbcType=SMALLINT},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      remark = #{remark,jdbcType=VARCHAR},
      model_num = #{modelNum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>