<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jialian.core.persistence.writer.ShopCartWriterMapper" >

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shop_cart
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByProdTypeId"  >
    delete from shop_cart
    where user_id = #{0} and pro_attr_id = #{1}
  <!--   where user_id = #{userId,jdbcType=BIGINT} and pro_attr_id = #{proAttrId,jdbcType=BIGINT} -->
  </delete>
  <insert id="insert" parameterType="com.jialian.api.domain.entity.ShopCart" >
    insert into shop_cart (id, user_id, pro_id, 
      pro_attr_id, count, remark, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{proId,jdbcType=BIGINT}, 
      #{proAttrId,jdbcType=BIGINT}, #{count,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jialian.api.domain.entity.ShopCart" >
    insert into shop_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="proId != null" >
        pro_id,
      </if>
      <if test="proAttrId != null" >
        pro_attr_id,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="proId != null" >
        #{proId,jdbcType=BIGINT},
      </if>
      <if test="proAttrId != null" >
        #{proAttrId,jdbcType=BIGINT},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jialian.api.domain.entity.ShopCart" >
    update shop_cart
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="proId != null" >
        pro_id = #{proId,jdbcType=BIGINT},
      </if>
      <if test="proAttrId != null" >
        pro_attr_id = #{proAttrId,jdbcType=BIGINT},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jialian.api.domain.entity.ShopCart" >
    update shop_cart
    set user_id = #{userId,jdbcType=BIGINT},
      pro_id = #{proId,jdbcType=BIGINT},
      pro_attr_id = #{proAttrId,jdbcType=BIGINT},
      count = #{count,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>